<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<title layout:fragment="title">Excel</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/excel.css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div class="company">
            <th:block th:each="company:${companies}">
                <div class="company-item">
                    <a th:href="@{/kintai/excel/download/{company}(company=${company})}" class="company-lnk" th:text="${company}"></a>
                </div>
            </th:block>
        </div>
    </div>
</th:block>
</html>